.carousel {
  width: 100%;
  position: fixed;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  bottom: 0;
}

.carousel-container {
  height: auto;
}

.card-wrapper {
  margin-right: 20px;
}

.hotel-card {
  min-height: 200px;
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.hotel-info {
  display: flex;
}

.hotel-description {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-link-wrapper {
  padding: 0 15px 15px 15px;
  background-color: #ffffff;
}

.book-link {
  display: block;
  width: 100%;
  background: #ffaa00;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.hotel-image {
  width: 40%;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
